body {
    margin: 0;
}


/** For the nav bar **/

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #ffffff;
    display: block;
}  

#ucsdWords {
    max-width: 400px;
}
 
#tabs {
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
    margin-top: -20px;
    margin-bottom: -25px;
}

#tabs li {
    float: left;
}

#tabs a {
    display: block;
    padding: 10px 15px;
    color: #000;
    text-decoration: none;
}

#tabs a:hover {
    background-color: #182b49;
    color: #ffff;
}


/** For the section 3 grid **/

.columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    grid-auto-rows: minmax(100px, auto);
    padding: 10px;  
}

.columns > * {
    overflow: auto;    
}

#columnOne {
    grid-column: 1;
    grid-row: 1;
    max-height: 500px;
    padding: 10px;  
}

#columnTwo {
    grid-column: 2;
    grid-row: 1;
    max-height: 500px;
    padding: 10px;  
}

#columnThree {
    grid-column: 3;
    grid-row: 1;
    max-height: 500px;
    padding: 10px;  
}

#columnFour {
    grid-column: 4;
    grid-row: 1;
    max-height: 500px;
    padding: 10px;  
}


/** For shrinking **/

@media screen and (max-width: 800px) {

    #tabs {
        display: none;
    }

    #ucsdWords{
        max-width: 75%;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 20px;
    }

    .columns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        grid-auto-rows: minmax(100px, auto);
        padding: 10px;  
    }
    
    #columnOne {
        grid-column: 1;
        grid-row: 1;
        max-height: 500px;
        padding: 10px;  
    }
    
    #columnTwo {
        grid-column: 2;
        grid-row: 1;
        max-height: 500px;
        padding: 10px;  
    }
    
    #columnThree {
        grid-column: 1;
        grid-row: 2;
        max-height: 500px;
        padding: 10px;  
    }
    
    #columnFour {
        grid-column: 2;
        grid-row: 2;
        max-height: 500px;
        padding: 10px;  
    }

}
